.loader {
    display: flex;
    justify-content: center;
    margin-right: 10px;

    &_size {

        &-s {
            height: 20px;
            width: 20px;
        }

        &-m {
            height: 40px;
            width: 40px;
        }

        &-l {
            height: 60px;
            width: 60px;
        }
    }
}