@import "@styles/variables.scss";

* {
    font-family: "Eudoxus Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
}

#root {
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-weight: 700;
  font-size: 44px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  color: $scnd-text-color;
}

svg {
    animation: loader 1s steps(50) infinite;
    background: transparent;
  }
  
  @keyframes loader {
    from {
      transform: rotate(0deg)
    }
    
    to {
      transform: rotate(360deg)
    }
  }

@media screen and (max-width: 991px) {
  * {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
}