$text-color: #151411;
$border-color: #518581;
$white: #FFFFFF;
$scnd-text-color: #AFADB5;
$red: red;

@media screen and (max-width: 991px) {
    .not-found {

        &__title {
            font-size: 24px;
        }
    }
  }

@mixin _991 {
    @media (max-width: 991px){
        @content;
    }
}